.product_table {
  border: 1px solid black;
  border-spacing: 1px;
}

.product_table th {
  background-color: #295b49;
  color: white;
  font-weight: bolder;
  text-align: center;
}

.product_table tbody td {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.product_table tfoot td {
  background-color: #529d93;
}

.product_table tr td i {
  padding-right: 20%;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

/*.icon {
  width: 1em;
}
*/
